body{
  background-color: #222831;

}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc-wrapper{
  margin-top: 50px;
  background-color: white;
  width: 300px;
  border-radius: 16px;

}
.row{
 display: flex; 
}